/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body Background */
body {
    min-height: 100vh;

    background:
        radial-gradient(circle at 20% 20%, #172b50 0%, transparent 25%),
        radial-gradient(circle at 80% 70%, #321b35 0%, transparent 30%),
        #07152b;
}


/* Invitation Container */
.invitation {
    width: min(90%, 900px);
    min-height: 100vh;
    margin: 40px auto;
    padding: 50px;

    background: #f7f0df;

    border: 2px solid #b28a4a;
    border-radius: 30px;

    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35);
}

/* Invitation Header */
.invitation-header {
    text-align: center;
}

.invitation-header img {
    width: 120px;
    height: auto;
    display: block;
   margin: 0 auto 20px;
}

.batch {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: #7b2430;
}

.tagline {
    margin-top: 10px;
    font-size: 0.8rem;
    letter-spacing: 4px;
    color: #8a6a38;
}

.main-title {
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    margin: 35px 0 20px;
}

.main-title span:first-child {
    color: #071e49;
}

.main-title span:last-child {
    color: #7b2430;
}














/* Responsive Design */
@media (max-width: 600px) {

    .invitation {
        width: 94%;
        padding: 25px;
        margin: 20px auto;
        border-radius: 20px;
    }

    .invitation-header img {
        width: 90px;
    }

    .batch {
        font-size: 0.9rem;
        letter-spacing: 2px;
    }

    .tagline {
        font-size: 0.65rem;
        letter-spacing: 2px;
    }

    .main-title {
        font-size: 3rem;
        margin: 25px 0 15px;
    }

}